.center{
    text-align: center;
}

.left{
    text-align: left;
    padding-left: 55px;
    /* display: block; */
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }


.subtitle{
    font-size: 17px;
    font-family: 'Oswald';
}

.course{
    font-size: 15px;
    font-weight: 700;
}

.title{
    font-size: 13px;
}

.dishName{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.ingredients{
    font-size: 13px;
    text-transform: capitalize;
    font-style: italic;
}

.price{
    font-size: 13px; 
}

.restrictions{
    font-size: 9px;
}

.arial{
    font-family: Arial, Helvetica, sans-serif;
}

.bottomText{
    white-space: pre-wrap;
    font-size: 11px;
    font-weight: 700;
    display: block;
}

.backText{
    white-space: pre-wrap;
    font-size: 13px;
}

.bold{
    font-weight: 700;  
}

.space{
    top: -100px;
    height: 954px;
}

.onePx{
    height: 1px;
}

.fivePx{
    height: 5px;
}

.grid{
    display: grid;
    height: 951px; 
    /* grid-template-rows: 15% 78% 7%; */
        /* grid-template-rows: 15% 70% 15%; */

}

/* .main{ */
    /* align-content: stretch; */
    /* display: table-column; */
    /* height: 100%; */
/* }  */

