h1{
    color: red;
}

.center{
    text-align: center;
}

grid{

}

.title{
    font-size: 16pz;
}

.course{
    font-size: 11pz;
    color: red;

}

.title{
    font-size: 10pz;
}

.dishName{
    font-size: 10pz;
}

.ingredients{
    font-size: 10pz;
}

.restrictions{
    font-size: 6pz;
}